body{
    margin-left: 25%;
    font-family: 'Boogaloo', cursive;
    font-size: 24px;
    background-color: #FFFEAB;
}
button {
    margin-left: 33%;
    position: relative; top: -450px;
 
}
p {
    margin-right: 11%;
    position: relative; bottom: 0px;

}

img {
    display: block;
    position: relative; top: -500px;
    margin-left: 20%;
}
svg {
    fill: #e45f00
}